.container article {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.container section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.container article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.agendaHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

article.agendaArticle {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 475px;
  width: 50%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button.cancelButton {
  width: 20%;
  font-size: 0.9rem;
  background-color: #353535;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

button.cancelButton:hover {
  background-color: red;
}

button.viewButton {
  width: 20%;
  font-size: 0.9rem;
  background-color: #b0d0d3;
  color: #000;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

button.viewButton:hover {
  background-color: #89b8bd;
  color: #fff;
}
