.container article {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  align-items: center;
}

.container article header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.studentActions {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

h1 {
  margin: 10px;
}

button.disabledButton {
  background-color: #dadada;
  color: #9f9f9f;
}

button.disabledButton:hover {
  background-color: #dadada;
}

td a:hover {
  color: #000;
}

.card {
  background-color: white;
  border-radius: 14px;
  padding: 40px;
  margin: 12px;
  max-width: 700px;
  height: 60px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

table {
  margin-top: 20px;
}

table th {
  font-size: 1.2rem;
}

table td {
  padding: 10px;
}

table tr {
  margin: 10px;
  padding: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button.studentBookButton {
  width: 100%;
  min-width: 80px;
  font-size: 0.83rem;
}

button.viewButton {
  width: 100%;
  min-width: 80px;
  background-color: #353535;
  color: #fff;
  font-size: 0.83rem;
}

button.viewButton:hover {
  background-color: #89b8bd;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

div.studentActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
