main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

button.landingCta {
  background-color: #353535;
  font-size: 0.95rem;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

button.landingCta:hover {
  background-color: #668a8f;
  color: #fff;
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  padding: 20px;
  margin: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 480px;
  width: 70%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1.landingH1 {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  color: #353535;
}

.learnMoreLink a {
  transition: transform 0.3s ease, color 0.3s ease;
  color: #ffffff;
}

.learnMoreLink a:hover {
  color: #c7e8eb;
}

p.learnMoreLink:hover {
  transform: translateY(-5px);
  transition: transform 0.4s ease;
}

p.learnMoreLink {
  padding: 32px;
}
