main section {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

button.landingCta {
  background-color: #353535;
  font-size: 0.95rem;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

button.landingCta:hover {
  background-color: #668a8f;
  color: #fff;
}
