.container section {
  width: 78%;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.aboutUsParagraph {
  margin-top: 20px;
}

.card {
  background-color: rgba(255,255,255,0.7);
  border-radius: 12px;
  padding: 20px;
  margin: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 80%;
  max-width: 700px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}