.container ul {
  list-style: none;
}

main.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
}

.manageClassActions {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.manageClassDiv {
  margin-top: 12px;
}

.description {
  text-align: center;
}

section {
  display: flex;
  gap: 10px;
}

li.reservedList {
  padding: 10px;
  border-radius: 8px;
}

li.reservedList a {
  color: #33575b;
  transition: transform 0.3s ease, color 0.3s ease;
}

li.reservedList a:hover {
  color: #89b8bd;
}

h1.nonCursive {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 2.6rem;
}

button.deleteButton {
  width: 100%;
  min-width: 72px;
  font-size: 0.9rem;
  background-color: #353535;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

button.deleteButton:hover {
  background-color: red;
}

button.editButton {
  width: 100%;
  min-width: 72px;
  font-size: 0.9rem;
  background-color: #b0d0d3;
  color: #000;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

button.editButton:hover {
  background-color: #89b8bd;
  color: #fff;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 550px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.reservedCard {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  min-width: 130px;
}

.reservedCard:hover {
  transform: translateY(-4px);
  color: #89b8bd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
