.container {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  padding: 14px 21px;
  align-items: center;
  background: #b0d0d3;
}

.container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

li a {
  color: #000;
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 0.95rem;
}

li a:hover {
  color: #668a8f;
}

.container li {
  margin-left: 30px;
  text-align: right;
}

@media only screen and (max-width: 414px) {
  .container ul {
    padding-left: 0px;
  }
  .container li {
    font-size: 15px;
  }
}

button.authButton {
  background-color: #353535;
  font-size: 0.95rem;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}
button.authButton:hover {
  background-color: #668a8f;
  color: #fff;
}
