.container form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  margin: 5px;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 400px;
}

section.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.disabledButton {
  background-color: #dadada;
  color:#9f9f9f;
}

button.disabledButton:hover {
  background-color: #dadada;
}