@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  color: #000;
}

.landing-bg {
  background-image: url("../src/assets/img/ballet-class.jpg");
  background-size: cover;
  min-height: 100%;
}

a {
  font-weight: 500;
  color: #33575b;
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: inherit;
}
a:hover {
  color: #b0d0d3;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #ffffff;
  overflow: auto;
  padding-top: 80px;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 3rem;
}

h2 {
  font-size: 1.4rem;
}

input,
select,
textarea {
  border-radius: 5px;
  letter-spacing: 0.03rem;
  border: 1px solid rgb(194, 194, 194);
  width: 100%;
  max-width: 220px;
  min-width: 120px;
  min-height: 32px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 5px;
}

textarea {
  min-height: 80px;
  max-width: 300px;
}

button {
  background-color: #b0d0d3;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 0.95em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  color: #000;
}
button:hover {
  background-color: #88afb4;
  color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
